@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #e0e7ff;
}

@layer base {
    :root {
        --background: 262 0% 97%;
        --foreground: 262 0% 10%;
        --card: 262 0% 97%;
        --card-foreground: 262 0% 15%;
        --popover: 262 0% 97%;
        --popover-foreground: 262 95% 10%;
        --primary: 262 100% 50%;
        --primary-foreground: 0 0% 100%;
        --secondary: 212 50% 92%;
        --secondary-foreground: 0 0% 0%;
        --muted: 212 50% 92%;
        --muted-foreground: 262 0% 40%;
        --accent: 224 10% 90%;
        --accent-foreground: 262 0% 15%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 262 0% 97%;
        --border: 262 20% 92%;
        --input: 262 20% 90%;
        --ring: 262 100% 50%;
        --radius: 1rem;
    }

    .dark {
        --background: 262 10% 5%;
        --foreground: 262 0% 90%;
        --card: 262 0% 2%;
        --card-foreground: 262 0% 90%;
        --popover: 262 10% 5%;
        --popover-foreground: 262 0% 90%;
        --primary: 262 100% 55%;
        --primary-foreground: 0 0% 100%;
        --secondary: 212 10% 9%;
        --secondary-foreground: 0 0% 100%;
        --muted: 212 10% 9%;
        --muted-foreground: 262 0% 60%;
        --accent: 224 10% 15%;
        --accent-foreground: 262 0% 90%;
        --destructive: 0 90% 30%;
        --destructive-foreground: 0 50% 9%;
        --border: 212 10% 10%;
        --input: 262 20% 10%;
        --ring: 262 100% 50%;
        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
